* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header {
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #fff;
}

header .menu {
    display: flex;
    justify-content: space-between;
}

div img {
    display:block;
    width: 100%;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

#quemsomos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quemsomos h2 {
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
}

#quemsomos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quemsomos p {
    margin-bottom: 10px;
    width: 90%;
}

#quemsomos img {
    width: 420px;
}

.container-externo {
    background-color: #122A57;
    width: 100%;
}

#servicos {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    padding-bottom: 50px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos  .item-servico {
    text-align: center;
}

.item-servico a{
    background-color: #fff;
    height: 50px;
    width: 240px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    color: #122A57;
    font-size: 14px;
    font-weight: 700;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img{
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    margin-top: 50px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 10px;
    padding: 10px;
    max-width: 240px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-plano .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after {
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

.item-plano ul li  {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 5px;
}

#planos h2 {
    font-size: 34px;
    color: #122A57;
    margin-bottom: 35px;
}

footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    color: #fff;
    justify-content: space-between;
}

/* Mobile */
@media(max-width: 992){
    .flex-container{
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse  ;
    }

    .texto-apresentacao {
        width: 100%;
    }

    .apresentacao .texto-apresentacao {
        width: 100%;
    }

    #quemsomos {
        flex-direction: column-reverse;
    }

    .list-servicos {
        flex-direction: column;
    }

    .list-servicos img {
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
    }
}